[submodule "assets"]
	path = assets
	url = https://github.com/misskey-dev/assets.git
[submodule "lib/CubismWebFramework"]
	path = lib/CubismWebFramework
	url = https://github.com/Live2D/CubismWebFramework.git
