[submodule "lib/CubismWebFramework"]
	path = lib/CubismWebFramework
	url = https://github.com/Live2D/CubismWebFramework.git
[submodule "assets/misskey"]
	path = assets/misskey
	url = https://github.com/misskey-dev/assets.git
